/*
#logo {
     width: 40%; /* İlk önce 33% yapmıştık, padding 5% ekleyince 10 çıkardık, 23 oldu. Sonra margin ekledik, tek taraftan 3% eklediğimiz için sadece 3 çıkardık 20 oldu */

/*
    margin: 0 280px 0 280px;
    background-color: darkgrey;
}
.container {
    margin: 0 50px 0 50px;
    background-color: aqua;
}
.bg-gray {
    /* width: 90%;
    margin: 0 50px 0 50px; */
/*
    font-size: medium;
    background-color: #EEEEEE;
}

.cntr-1 {
    height: 75px;
    margin: 2px 2px 0 0;
    padding: 3px 0 0 0;
    font-size: medium;
    width: 37%;
    float: left;
    background-color: #7EE5DA;
}

.cntr-2 {
    height: 75px;
    margin: 2px 2px 0 0;
    padding: 6px 5px 0 5px;
    font-size: small;
    width: 20%;
    float: left;
    background-color: #70CCC2;
}

.cntr-3 {
    height: 75px;
    margin: 2px 0 0 0;
    padding: 0 30px; 
    font-size: small;
    width: 30%;
    float: left;
    background-color: #62B3AA;
} 

#copyright {
    float: left;
    font-size: small;
}
*/

header{
    text-align: center;
}

section{
    margin:0 80px;
    display: block;
    width: auto;
}

.article1{
    height: 62,4px;
    background-color: rgb(238,238,238);
    text-align: center;
    margin:0.07%;
    padding: 1px;
}

.article2{
    height: auto;
    width: auto;
}

.box1{
    margin:0.05%;
    width: 37%;
    background-color: #7EE5DA;
    float:left;
    height: 74.4px;
}

.box2{
    margin:0.05%;
    width: 19.9%;
    background-color: #70CCC2;
    float:left;
    height: 74.4px;
}

.box3{
    margin:0.05%;
    width: 42.8%;
    background-color: #62B3AA;
    float:right;
    height: 74.4px;
}

.box1-box{
    text-align:center;
    padding: 2% 0;
}

.box2-box{
    font-size:small;
    text-align: center;
    padding: 3% 0;
}

.box3-box{
    font-size:small;
    text-align: center;
}

p{
    margin:0px;
}

.input1{
    width: 295px;
}
footer{
    margin: 90px;
    text-align: center;
}